<h2>Logout</h2>

<form class="form logout-form">
  <div class="form-group">
    <label for="password-login">Logout?</label>
    <input class="form-input" type="logout" id="confirm-logout" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">logout</button>
  </div>
</form>

<script src="/js/logout.js"></script>
